<div class="row login-form">
  <div class="col s12 offset-m3">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Resend Unlock Instructions</span>
        <div class="divider"></div>
        <%= form_for resource, as: resource_name, url: unlock_path(resource_name), %>
          html: { method: :post } do |f|
          <% if devise_error_messages? || alert %>
            <div class="form-errors red lighten-1">
              <%= devise_error_messages! %>
              <%= alert %>
            </div>
          <% end %>
          <div class="form-inputs row">
            <div class="input-fiel col s12">
              <i class="material-icons prefix">email</i>
              <%= f.email_field :email, autofocus: true, required: true %>
              <%= f.label :email %>
            </div>
          </div>
          <div class="form-actions center">
            <%= f.button :submit, "Resend Unlock Instructions", %>
              class: "btn waves-effect"
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-action">
        <div class="devise-links">
          <%= render "<%= namespace.downcase %>/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
