<div class="row login-form">
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title center">Change your Password</span>
        <div class="divider"></div>
        <%= simple_form_for resource, as: resource_name, %>
          url: password_path(resource_name), html: { method: :put } do |f|
          <% if devise_error_messages? || alert %>
            <div class="form-errors red lighten-1">
              <%= devise_error_messages! %>
              <%= alert %>
            </div>
          <% end %>
          <div class="form-inputs row">
            <%= f.hidden_field :reset_password_token %>
            <%= f.input :password, autofocus: true, required: true, autocomplete: false, %>
              hint: "#{@minimum_password_length} Characters Minimum"
            <% end %>
            <%= f.input :password_confirmation, autofocus: true, required: true, %>
              autocomplete: false
            <% end %>
          </div>
          <div class="form-actions center">
            <%= f.button :submit, "Change my Password" %>
          </div>
        <% end %>
      </div>
      <div class="card-action">
        <div class="devise-links">
          <%= render "<%= namespace.downcase %>/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
